.statusbar {
  background-color: var(--bg-terminal);
  border-top: var(--stroke-width) solid var(--border-dim);
  height: var(--statusbar-height);
  width: 100%;
  position: relative;
  z-index: var(--z-statusbar);
}

.statusbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
}

