.terminal-command-container {
  display: flex;
  gap: var(--space-1);
  margin-top: var(--space-3);
  margin-bottom: var(--space-4);
}

.terminal-cursor-container {
  display: flex;
  gap: var(--space-1);
  margin-bottom: var(--space-5);
}

.cursor-symbol {
  color: var(--fg-tertiary);
}



.terminal-content-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

/* Modificador de espaciado adicional para líneas de contenido especiales */
.margin-bottom {
  margin-bottom: var(--space-3);
}
